body{
    background-color: #2B303B;
    font-family: 'Source Code Pro' ;
}
.code{
    color:#A3B875;
    line-height: 1.5;
}
.tag{
    color:#BF5E5C;
}
.white{
    color:#C0C5C7;
}
.attr{
    color: #D07B59;
}
.email{
    color:#A3B875;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 620px;
  margin-left: -310px;
  margin-top: -100px;
  height: 100px;
}

#typed-cursor {
    font-weight: 100;
    color: #C0C5C7;
}
 
.slogan {
    color: #C0C5C7;
    /*font-size: 30px;*/
    position: absolute;
    top: 50%;
    text-align: center;
    margin: -20px 0 0 0;
    display: block;
    width: 100%;
}

#typed-cursor {
    color: #C0C5C7;
    font-weight: 100;
}

#typed-cursor.blinking {
  -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,to {
    color: transparent;
}
 50% {
    color: #C0C5C7;
 }

}

@-moz-keyframes blink {
    from,to {
    color: transparent;
}
 50% {
   color: #C0C5C7;
 }

}

@-webkit-keyframes "blink" {
    from,to {
    color: transparent;
}
 50% {
   color: #C0C5C7;
 }

}

@-ms-keyframes "blink" {
    from,to {
    color: transparent;
}
 50% {
   color: #C0C5C7;
 }

}

@-o-keyframes "blink" {
    from,to {
    color: transparent;
}
 50% {
   color: #C0C5C7;
 }
}

@media (max-width: 600px) {
    .code{
        width: 290px;
        margin-left: -125px;
    }
}